/* Estilos Generales del site */
.image-container {
  height: 100px;
  width: auto;
}

.cardTitleStyle {
  cursor: pointer;
}
.cardTitleStyle:hover {
  color: #4fb3bf;
}

.card-img-top:hover {
  filter: contrast(120%);
  filter: brightness(120%);
}

.card-body {
  min-height: 90px;
}

header .navbar {
  background-color: #4fb3bf;
}
header .navbar .container-fluid {
  justify-content: unset;
}
header .navbar .container-fluid a img {
  height: 50px;
}
header .navbar .container-fluid .cartIcon {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  z-index: 1030;
  margin-top: 15px;
}
header .navbar .container-fluid .cartIcon img {
  height: 50px;
  margin: 0 10px;
}
header .navbar .container-fluid .cartIcon div {
  background-color: #00838f;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 32px;
  right: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  color: white;
}
header .navbar .container-fluid .navbar-collapse {
  flex-grow: unset;
}
header .navbar .container-fluid div ul li .nav-link {
  color: #005662;
}
header .navbar .container-fluid div ul li .nav-link:hover, header .navbar .container-fluid div ul li .nav-link:focus {
  color: #000051;
}
header .navbar .container-fluid div form {
  margin-block-end: 0;
}

.dropdown-item {
  color: #005662;
}
.dropdown-item:hover {
  background-color: #4fb3bf;
  color: #000051;
}

.form-control {
  border: 1px solid #005662;
}
.form-control:focus {
  border-color: #005662;
  box-shadow: 0 0 5px 5px #00838f;
}

.cartContainer {
  flex-direction: column;
  margin: 40px auto;
  align-items: center;
  flex-wrap: nowrap;
}

.cartCard {
  border-bottom: 1px solid #00838f;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 10px auto;
  align-items: center;
  justify-content: center;
}
.cartCard .cartImg {
  width: 150px;
}
.cartCard .cartImg img {
  width: 100%;
  height: auto;
}
.cartCard .cartProductName {
  width: 240px;
  margin-left: 30px;
  margin-bottom: 0;
}
.cartCard .input-group {
  margin-bottom: 0;
  width: 160px;
  justify-content: flex-end;
}
.cartCard .input-group .qtyUpdate {
  width: 50px;
  border: 1px solid #00838f;
  border-radius: 0 0.25rem 0.25rem 0;
}
.cartCard .input-group .qtyUpdate:focus-visible {
  outline: none;
  box-shadow: 0 0 10px 0.5px #00838f;
}
.cartCard .input-group .stockLabel {
  position: absolute;
  bottom: -22px;
  right: 0;
  font-size: 14px;
  color: #666;
}
.cartCard .cartProductPrice {
  margin: 0px 15px;
  width: 100px;
  text-align: end;
}
.cartCard .btn-close:focus {
  border-color: #005662;
  box-shadow: 0 0 10px 0.5px #00838f;
}

.discountCodeInput {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
  align-items: center;
}
.discountCodeInput .btn {
  width: unset;
}
.discountCodeInput input {
  height: 42px;
}

.cartSummary {
  margin-top: 75px;
}
.cartSummary h5 {
  text-align: right;
}

.productPageContainer {
  width: 80%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.productPageContainer .productPageImage {
  margin: -10px 0;
  width: 500px;
  height: auto;
}
.productPageContainer .productPageImage img {
  width: 100%;
  height: auto;
}
.productPageContainer .nextToProductImage {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.productPageContainer .nextToProductImage .productPrice {
  margin: 0;
}
.productPageContainer .nextToProductImage .btn-primary:focus, .productPageContainer .nextToProductImage .btn-primary:active {
  background-color: #005662;
  border: none;
  box-shadow: none;
}
.productPageContainer .productDescription {
  font-size: 16px;
  border-top: 1px solid #005662;
  padding-top: 50px;
}

.weatherCardsContainer {
  display: flex;
  margin: 0 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.weatherCardsContainer .weatherCard {
  background-color: #dad8ec;
  width: 170px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px;
}
.weatherCardsContainer .weatherCard h5 {
  color: #000051;
  text-align: center;
}
.weatherCardsContainer .weatherCard h6 {
  color: #005662;
  margin: 10px 10px;
}
.weatherCardsContainer .weatherCard img {
  width: 50px;
  height: auto;
  align-self: center;
}
.weatherCardsContainer .weatherCard:hover {
  box-shadow: 0 0 25px 0.5px #1a237e;
  cursor: pointer;
}

.spinner-border {
  margin-top: 50px;
  justify-self: center;
}

.weatherIntroText {
  width: 80%;
  color: #005662;
  border-bottom: 1px solid #000051;
  margin: 0px auto;
  padding: 40px 0;
}

.yourLocation h4, .yourLocation h5 {
  color: #005662;
  text-align: center;
  margin: 20px;
}

.weatherTips {
  width: 80%;
  max-width: 1200px;
  margin: 40px auto;
}
.weatherTips .weatherTip {
  width: 100%;
  border: 1px solid #000051;
  border-radius: 5px;
  margin: 20px;
}
.weatherTips .weatherTip h4 {
  color: #1a237e;
  text-align: center;
  margin: 15px;
}
.weatherTips .weatherTip .tip {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.weatherTips .weatherTip .tip .weatherTxt {
  margin: 20px 20px;
  width: 60%;
}
.weatherTips .weatherTip .tip .weatherImg {
  width: 30%;
  min-width: 320px;
  height: auto;
  margin: 20px 20px;
}
.weatherTips .weatherTip .tip .weatherImg img {
  width: 100%;
  height: auto;
}

* {
  transition: all 0.5s;
}

h1 {
  margin-top: 90px;
  margin-bottom: 40px;
  text-align: center;
  color: #000051;
}

.filterContainer {
  display: inline-block;
  position: fixed;
  text-align: center;
  margin: 20px;
  border: 1px solid #4fb3bf;
  border-radius: 10px;
  padding: 10px;
}
.filterContainer div {
  margin: 15px 10px;
}
.filterContainer div div {
  margin: 5px 0;
  text-align: left;
  display: block;
}
.filterContainer div h4 {
  text-align: left;
}

.btn {
  width: 200px;
  height: 42px;
  margin: 3px 0;
  text-align: left;
}

.productsContainer {
  margin: 50px auto 50px 180px;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.productsContainer .card {
  margin: 20px;
}

.btn-primary {
  background-color: #005662;
  color: white;
  border: none;
}
.btn-primary:hover {
  background-color: #00838f;
  border: none;
}
.btn-primary:focus, .btn-primary:active, .btn-primary:active:focus {
  background-color: #005662;
  border: none;
  box-shadow: none;
}

.toast-header {
  background-color: #4fb3bf;
}
.toast-header .me-auto {
  color: black;
}
.toast-header small {
  color: black;
}

.noStock {
  background-color: #eaf075;
}
.noStock .me-auto {
  color: black;
}

.checkbox:checked {
  background-color: #005662;
}

.noFilter {
  margin: 50px auto;
}

/*# sourceMappingURL=style.css.map */
