.image-container {
    height: 100px;
    width: auto;
}

.cardTitleStyle {
    cursor: pointer;
    &:hover {
        color: $primary-light;
    }
}

.card-img-top {

    &:hover {
        filter: contrast(120%);
        filter: brightness(120%);
    }
}

.card-body {
    min-height: 90px;
}
