.weatherCardsContainer {
    display: flex;
    margin: 0 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .weatherCard {
        background-color: $secondary-light;
        width: 170px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 10px;
        h5 {
            color: $secondary-dark;
            text-align: center;
        }
        h6 {
            color: $primary-dark;
            margin: 10px 10px;
        }
        img {
            width: 50px;
            height: auto;
            align-self: center;
        }
        &:hover {
            box-shadow: 0 0 25px 0.5px $secondary;
            cursor: pointer;
        }
    }
}

.spinner-border {
    margin-top: 50px;
    justify-self: center;
}

.weatherIntroText {
    width: 80%;
    color: $primary-dark;
    border-bottom: 1px solid $secondary-dark;
    margin: 0px auto;
    padding: 40px 0;
}

.yourLocation{
    h4, h5 {
        color: $primary-dark;
        text-align: center;
        margin: 20px;
    }
}

.weatherTips {
    width: 80%;
    max-width: 1200px;
    margin: 40px auto;
    .weatherTip {
        width: 100%;
        border: 1px solid $secondary-dark;
        border-radius: 5px;
        h4 {
            color: $secondary;
            text-align: center;
            margin: 15px;
        }
        .tip {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            .weatherTxt {
                margin: 20px 20px;
                width: 60%;
            }
            .weatherImg {
                width: 30%;
                min-width: 320px;
                height: auto;
                margin: 20px 20px;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}